<style>
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@400;600&display=swap');
</style>

*{
  font-family: 'Paytone One', sans-serif;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333;}

section {
  width: 80%;
  max-width: 800px;
  margin: auto;}

h1, h2, h3 {
  font-family: 'Paytone One', sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-size: 3.5em;
  margin-bottom: 0em;
  padding-top: 10em;
  text-align-last: left;

}

h2 {font-size: 2.0em;
  margin: 1em 0;
  color: #FF4772;}

h3 {font-size: 2.8em;
  margin: 3em 0 1em 0;
  color: #FF4772;
  text-transform: lowercase;
  text-decoration-color: #027FA8;

}

p {
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: 200;
}

header {
  width: 80%;
  font-family: 'Hammersmith One', sans-serif;
  padding-top: 0.5em;
  max-width: 900px;
  margin: auto;
  color: #000000;}

header h1 {
  margin: 1em 0;
  padding-top: 0.5em;
  font-size: 5.25em;
  font-weight: bold;
  line-height: 1.2;
  }
header h2 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2.75em;
  line-height: 1.5;
  padding-bottom: 1em;
}
.highlight {color: #439ff6}

/*---------------- PORTFOLIO SECTION ------------------*/

.portfolio h2 { max-width: 960px; margin: 3em auto;}
.portfolio{
  max-width: 800px;
  margin: auto;
  padding: 10px 0;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 2fr))
 }

li {
  position: relative;}

.portfolio-img {;
  width: 100%;
  object-fit: contain;
}

.portfolio-title {
  font-family: 'Hammersmith One',, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 0.85em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}

.portfolio-title:hover {
  background: #333;
  color: #fff
}

/*---------------- BACKGROUNDS ----------------*/
.top{
    display:inherit;
    padding: 6em 7;
    background:url(../img/newanimate.gif);
    background-image: repeating-linear-gradient();
    color: #fafafa;
   }

.about {
      display:block;
      padding: 4em 0;
      background: #B8EBFC;
      color: #000000;
     }

/*--------------------- STYLING LINKS -----------------*/

a {
  color: #102a9c;
  text-decoration: none;
}

a:hover {
  color: #ffff;
  border-bottom: 1px dotted;}

.biog a {
    color: #fafafa;
    border-bottom: 1px dotted;
  }

.biog a:hover {
    color: #103254;
}

.dark a {
  color: rgb(150, 230, 254);
  text-decoration: none;}

.dark a:hover {
  color: #fafafa;
  border-bottom: 1px dotted;}

.portfolio a {
  color: #103254;
  border-bottom: none;}

.portfolio a:hover {
  opacity: .8;}

/*------------------- NAVIGATION ------------------*/
nav {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  padding: 1em 0;
  font-size: 1em;
  color: #FF4772;
}

nav ul {
  padding-right: 5px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;

}

nav ul li {
  display: inline;
  margin: 20px;
  background: white;
  font-family: 'poppins', sans-serif;
  font-weight: 600px;
  text-transform: lowercase;
  color: #FF4772;
}



nav a:link {
  color: #FF4772;}

nav a:visited {
  color: #FF4772;}

nav a:hover {
  border-bottom: none;
  color: #FFB964;
  transition: all 0.3s ease-in-out;
}


/* ------------------- IMAGES -------------------- */
img {
  display: block;
  margin: auto;
  max-width: 100%;
}


/*---------------------------- FOOTER -----------------------------*/
footer {
  text-align: center;
  font-size: 0.707em;
  padding: 2em 0 8em 0;
  margin: auto;
  color: #fafafa;
  background: #000000;
}

.connections{
  position: relative;
  margin: 0 auto;
}
.connections ul{
  margin: 0;
  padding: 0;
}
.connections li{
  margin: 0 10px;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.connections a:link{
  border-bottom: none;
}
.connections img,
.connections svg{
  border: none;
}
.connections a:hover img,
.connections a:hover svg{
  border-bottom: none;}

.connections svg {
      margin: 2em auto;}

.connections a:hover svg path {
      fill: #333;
      transition: all 0.2s ease-in-out;}

footer .connections a:hover svg path {
        fill:  #103254;
        transition: all 0.2s ease-in-out;}



@media only screen and (max-width: 600px) {
  section {
    width: 90%;
    margin: auto;}

header {
      width: 90%;
      margin-left: .5em;
      }

header h1 {font-size: 3.25em;}
header p {font-size: 1.25em;}

.portfolio {grid-template-columns: repeat(2, minmax(150px, 1fr)); } */

nav {
  padding: 0.5em;
}

nav ul li {
  display: block;
  margin: 10px;
  background: white;
}
